<!DOCTYPE html>
<html lang="en" class="md">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png" />
    <link rel="apple-touch-startup-image"
          media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
          href="~/img/apple-touch-startup-image-640x1096.png">  

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap-4.1.3/css/bootstrap.min.css">

    <!-- Material design icons CSS -->
    <!-- <link rel="stylesheet" href="vendor/materializeicon/material-icons.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- swiper carousel CSS -->
    <link rel="stylesheet" href="~/vendor/swiper/css/swiper.min.css">

    <!-- app CSS -->
    <link id="theme" rel="stylesheet" href="~/css/style.css" type="text/css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" type="text/css">

    <title>@ViewBag.Title - T&E Analítica</title>

</head>
<body class="color-theme-blue @ViewBag.Theme">

    <div class="wrapper">
        <div class="page">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

    <!-- Validation jquery file -->
    <script src="~/js/jquery.validate.js"></script>

    <!-- Cookie jquery file -->
    <script src="~/vendor/cookie/jquery.cookie.js"></script>

    <!-- Swiper carousel jquery file -->
    <script src="~/vendor/swiper/js/swiper.min.js"></script>

    <!-- Chart jquery file -->
    <script src="~/vendor/charts/bundle.js"></script>
    <script src="~/vendor/charts/charts.js"></script>

    <!-- Application main common jquery file -->
    <script src="~/js/main.js"></script>

    <!-- page specific script -->
    <script>
        $(window).on('load', function () {

            /*Swiper carousel */
            var mySwiper = new Swiper('.swiper-container', {
                slidesPerView: @ViewBag.Slides,
                allowSlidePrev: false,
                allowSlideNext: false,
                spaceBetween: 0,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });
        });

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>